

/* Status.css */
.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #f8f9fa;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.user-pro {
  width: 70%;
}

/* UnitHead.css */
.fixed-width-profile-image {
  width: 130px;
  height: 130px;
  border-radius: 50%; /* Make the image rounded */
}

/* Style for the update profile button */
.update-profile-button {
  background-color: darkblue; /* Blue color (you can customize this) */
  color: #fff; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth hover effect */
}

/* Style for the file input */
.profile-image-input {
  margin-top: 10px;
  display: block;
}
.profile-details{
  background-color: lightgray;
}

@media (max-width: 576px) {
  .profile-details  {
    width: 70% !important;
    margin-bottom: 5em;
  }
}
